iframe#webpack-dev-server-client-overlay{display:none!important}

.App {
  background-image: url('images/yellow-background.png');
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;

}

/* HomePage */

/* nav bar */
.topnav {
  float: left;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  padding-left: 20px;
  height: 60px;
  border: '2px solid black';
}
.topnav a {
  color: black;
  /* text-align: center; */
  padding: 22px 16px;
  position: relative;
  top: -20px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}
.topnav a:hover {
  background-color: #FDD12C;
  color: black;
  cursor: pointer;
  height: 80px;
}
.topnav a.active {
  height: 80px;
  background-color: #FDD12C;
  color: black;
}

.input {
  float: right;
  padding: 10px;
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  width: 400px;
  height: 40px;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 2px;
  color: black;
}
.input::placeholder {
  color: black;
  font-weight: 5px;
  letter-spacing: 2px;
}
.input:hover {
  cursor:text;
}
.logo {
  width: 150px;
  height: 58px;
}


/* search */
.search-div {
  padding-left: 330px;
}
form{
  transform: translate(-50%,-50%);
  transition: all 1s;
  height: 50px;
  width: 480px;
  cursor: pointer;
  background: #FDD12C;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}
input{
  display: block;
  position: absolute;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  top: 0;
  left: 0;
  outline: 0;
  border: 0;
  padding-right: 30px;
  background-color: white;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  top: 0;
  right: 0;
  background: #FDD12C;
  color: black;
}

/* welcome div (right after navbar) */

.welcome-div {
  width: 100vw;
  height: 600px;
  position: relative;
  bottom: 16px;
  background-color: rgb(241, 238, 238);
}

.writting-1 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-left: 100px;
  padding-top: 100px;
  width: 500px;
  line-height: 70px;
}

.writting-2 {
  font-size: 15px;
  font-weight: 5px;
  letter-spacing: 1px;
  padding-left: 100px;
  padding-top: 40px;
  width: 500px;
  line-height: 20px;
}

/* slideshow */
.each-slide {
  display: flex;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-slide-text {
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #f5e095;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(63, 63, 63);
  opacity: 1;

}




.each-slide p {
  font-size: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
}

.text-slide {
  font-size: 20px;
  height: fit-content;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  word-wrap: break-word;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;

}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.slide-container {
  background-color: none;
  width: 900px;
  height: 600px;
  padding-right: 20px;
  float: right;
}
@media screen and (max-width: 1520px) {
  .slide-container {
    width: 100vw;
    float:none;
  }
  .welcome-div {
    height: 1050px;
  }
  .writting-1 {
    width: fit-content;
  }
  .writting-2 {
    width: fit-content;
  }
}
.text-slide-link {
  font-size: 20px;
  height: fit-content;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  word-wrap: break-word;
  position: absolute;
  top: 0;
  right: 0;

}

/* news card */

.cards-container {
  padding-top: 30px;
  padding-left: 30px;
  width: 100vw;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 50px;
}
.card {
  word-wrap: break-word;

  width: 300px;
  height: 700px;
  margin: 20;
  padding: 16px;
  text-align: center;
  text-align: left;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;


}
.card-front {
  background: rgb(251, 251, 250);
  border-radius: 10px;
  color: black;
  z-index: 2;
  overflow: hidden;
  text-overflow: ellipsis;

}
.card-back {
  background: linear-gradient(to right, #f4eac6, #FDD12C);
  border-radius: 10px;
  color: black;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  box-shadow: 1px 10px 20px black;
  align-items: center;
}
.card:hover {
  cursor: pointer;
}

.card:focus {
  outline: 0;
}

.card:hover .card-inner,
.card:focus .card-inner{
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}


.card-title {
  padding-left: 20px;
  padding-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;

}
.card-publishedAt {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 30px;

}
.card-author {
  padding-left: 20px;
  padding-right: 30px;
  font-size: 13px;

}
.card-description {
  padding-left: 20px;
  padding-right: 30px;
  line-height: 25px;

}
.card-name {
  padding-left: 20px;
  padding-right: 30px;

}
.card-img {
  width: 300px;
  height: 150px;
}
.card-back-text {
  color: rgb(70, 69, 69);
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-align: center;
}

/* SportPage */


.grid-wrapper {
  display: grid;
  grid-gap: 13px;
  /* background-color: black; */
  background-color: none;
  color: #444;
  width: 100vw;
  height: 700px;
  grid-template-columns: [offset] 1% [column1] 15% [column2] 15% [column3] 15% [column4] 15% [column5] 15% [column6] 19% [end];
  grid-template-rows: [offset] 1% [row1] 47% [row2] 46% [end];
}
.card-small {
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  margin: 20;
  text-align: center;
  text-align: left;

}
.small-card-img {
  width: 100%;
  height: 245px;
}

.small-card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 13px;
  width: 80%;
  height: fit-content;
  background-color: none;
  font-weight: bold;

}
.card-small:hover {
  cursor: pointer;
}

.card-small:focus {
  outline: 0;
}

.card-small:hover .card-inner,
.card-small:focus .card-inner{
  transform: rotateY(180deg);
}
.item-a {
  grid-column-start: column1;
  grid-column-end: column3;
  grid-row-start: row1;
  grid-row-end: row2;
  background-color:none;
}

.item-b {
  grid-column-start: column3;
  grid-column-end: column5;
  grid-row-start: row1;
  grid-row-end: row2;
  background-color:none;
}
.item-c {
  grid-column-start: column5;
  grid-column-end: end;
  grid-row-start: row1;
  grid-row-end: row2;
  background-color:none;
}
.item-d {
  grid-column-start: column1;
  grid-column-end: column3;
  grid-row-start: row2;
  grid-row-end: end;
  background-color:none;
}
.item-e {
  grid-column-start: column3;
  grid-column-end: column5;
  grid-row-start: row2;
  grid-row-end: end;
  background-color:none;
}
.item-f {
  grid-column-start: column5;
  grid-column-end: end;
  grid-row-start: row2;
  grid-row-end: end;
  background-color:none;
}

/* common */

.hr-underline {
  border:none;
  height: 20px;
 	width: 18%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}
/* feedback submit button */
.feedback-button {
  width: 100px;
  height: 50px;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 4px;
  background-color: #fbf1cc;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.feedback-button{
    width: 170px;
    height: 55px;
    border: none;
    outline: none;
    background: #ffffff;
    color: black;
    font-size: 18px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,1);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 55px;
    height: 55px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 10px;
}

.svg path{
    stroke-width: 3;
    stroke: black;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #f9eab4;
    transition: 1s;
    padding-left: 35px;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 125px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}
/* contact info */
.contact {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}
.email-copied {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}
/* progress bar */
.loading-background {
  margin:0;
  padding:0;
  background-color:#262626;
}
.ring {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#000000;
  letter-spacing:4px;
  text-transform:uppercase;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid rgb(253, 209, 44);
  border-right:3px solid rgb(253, 209, 44);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:rgb(253, 209, 44);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px rgb(253, 209, 44);
}

@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}