.App {
  background-color: none;
}

/* HomePage */

/* nav bar */
.topnav {
  float: left;
  width: 100vw;
  background-color: none;
  overflow: hidden;
  padding-left: 20px;
  height: 60px;
  border: '2px solid black';
}
.topnav a {
  color: black;
  /* text-align: center; */
  padding: 22px 16px;
  position: relative;
  top: -20px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}
.topnav a:hover {
  background-color: #FDD12C;
  color: black;
  cursor: pointer;
  height: 80px;
}
.topnav a.active {
  height: 80px;
  background-color: #FDD12C;
  color: black;
}
/* @media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
} */
.input {
  float: right;
  padding: 10px;
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  width: 400px;
  height: 40px;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 2px;
  color: black;
}
.input::placeholder {
  color: black;
  font-weight: 5px;
  letter-spacing: 2px;
}
.input:hover {
  cursor:text;
}
.logo {
  width: 150px;
  height: 58px;
}


/* search */
.search-div {
  padding-left: 330px;
}
form{
  transform: translate(-50%,-50%);
  transition: all 1s;
  height: 50px;
  width: 480px;
  cursor: pointer;
  background: #FDD12C;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}
input{
  display: block;
  position: absolute;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  top: 0;
  left: 0;
  outline: 0;
  border: 0;
  padding-right: 30px;
  background-color: white;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  top: 0;
  right: 0;
  background: #FDD12C;
  color: black;
}

/* welcome div (right after navbar) */

.welcome-div {
  width: 100vw;
  height: 600px;
  position: relative;
  bottom: 12px;
  background-color: rgb(241, 238, 238);
}

.writting-1 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-left: 100px;
  padding-top: 100px;
  width: 500px;
  line-height: 70px;
}

.writting-2 {
  font-size: 15px;
  font-weight: 5px;
  letter-spacing: 1px;
  padding-left: 100px;
  padding-top: 40px;
  width: 500px;
  line-height: 20px;
}

/* slideshow */
.each-slide {
  display: flex;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-slide-text {
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(63, 63, 63);
  opacity: 1;

}




.each-slide p {
  font-size: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
}

.text-slide {
  font-size: 20px;
  height: fit-content;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  word-wrap: break-word;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;

}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.slide-container {
  background-color: black;
  width: 1000px;
  height: 600px;
  float: right;
}
.text-slide-link {
  font-size: 20px;
  height: fit-content;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  word-wrap: break-word;
  position: absolute;
  top: 0;
  right: 0;

}

/* SportPage */

